<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="./css/element.css">
  <link rel="stylesheet" href="./css/my-style.css">

  <title>C919飞机：国际标准的中国智慧</title>
</head>

<body>
  <div id="app">
    <el-container>

      <el-header height="145px">
        <el-row type="flex" justify="space-around">
          <el-col :span="6">
            <span style="font-size: 35px;color: #fff;">中国大型客机C919</span>
          </el-col>
          <el-col :span="6">
            <img src="./images/header.png" alt="C919.png" style="height: 145px;">
          </el-col>
        </el-row>
      </el-header>

      <el-main>
        <!-- 菜单栏 -->
        <el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect" background-color="#64A81F"
          text-color="#fff" active-text-color="#ffd04b">
          <el-row type="flex" justify="space-around">
            <el-menu-item index="首页">首页</el-menu-item>
            <el-menu-item index="首飞报道">首飞报道</el-menu-item>
            <el-menu-item index="发展规划">发展规划</el-menu-item>
            <el-menu-item index="最新进展">最新进展</el-menu-item>
            <el-menu-item index="发展历程">发展历程</el-menu-item>
          </el-row>
        </el-menu>

        <!-- 标签页 -->
        <el-tabs v-model="labelName" tab-position="bottom">
          <el-tab-pane name="首页">
            <el-carousel indicator-position="outside" height="450px">
              <el-carousel-item v-for="(image,index) in carouselImage" :key="index">
                <img :src="image" :alt="image">
              </el-carousel-item>
            </el-carousel>
            <el-row style="padding-top: 30px;font-size: 30px;">
              简介
            </el-row>
            <el-row style="padding-top: 10px;font-size: 24px;color: red;">
              <b>INTRODUCTION</b>
            </el-row>

            <el-row type="flex" justify="space-around" style="width: 70%;margin: 0 auto;">
              <el-col :span="4" v-for="(obj,index) in cardContext" :key="index">
                <div class="card">
                  <div class="card-image">
                    <!-- <img :src="obj.image" :alt="obj.image" style="border: 1px solid red;"> -->
                    <p>{{ obj.char }}</p>
                  </div>
                  <div class="card-description">
                    <p class="text-title">{{ obj.title }}</p>
                    <p class="text-body" v-for="text in obj.desc.split('，')" :key="text">{{ text }}</p>
                  </div>
                </div>
              </el-col>
            </el-row>
          </el-tab-pane>


          <el-tab-pane name="首飞报道" class="pane">
            <div class="center">
              <video src="./video/最短的旅程最长的期待!C919交付后首飞纪实.mp4" controls></video>
            </div>
            <b>C919进行滑行测试</b>
            <p>2017年5月5日下午2点，上海浦东国际机场，全世界的目光聚焦在一架白蓝绿三色涂装的大型飞机上。我国拥有自主知识产权、具备国际水准的干线飞机C919在机场跑道准备起飞。</p>
            <br>
            <b>C919首飞现场：</b>
            <p>机长：C919 101架机状态正常，准备完毕，是否放飞？请指示。</p>
            <p>指挥：同意放飞！</p>
            <br>
            <b>中国大飞机C919飞上天空</b>
            <p>
              启动，滑行，机头昂起……C919飞机平稳利落地飞入云天。首飞现场的人群中，有一位头发花白、拄着拐杖、身着黑色正装的老人，他的视线一直密切关注着大飞机，他就是中国第一代飞机设计师——程不时。年少时，程不时就下定决心“要为祖国设计飞机”。27岁时，程不时设计出了中国的“初教6”飞机，在87岁的这一天，他终于看到了中国大飞机C919翱翔蓝天。
            </p>
            <div class="center"><img src="./images/21.jpg"></div>
            <br>
            <b>中国第一代飞机设计师程不时在C919首飞现场</b>
            <p>在首飞现场，程不时特意带来了年轻时用过的一把小提琴，当记者请他为C919首飞演奏一首乐曲时，他毫不犹豫地选了《我爱你中国》。</p>
            <p>程不时：亲眼看到C919腾飞，我心里感到非常高兴。作为新中国第一代的飞机设计师，我曾经参加过很多飞机的首飞，都是一次一次看见我们民族的能力逐渐地腾飞起来。展望着新的前景，将比过去的成就更加辉煌。</p>
            <p>经过1小时20分钟的飞行，C919大型客机顺利降落，首飞圆满成功，萦绕中华民族百年的“大飞机梦”取得历史性的突破。</p>
            <p>C919客机完成首飞，在上海浦东国际机场着陆后，首飞机组人员走出机舱向观礼嘉宾挥手致意。</p>
            <p>首飞现场工作人员：报告总指挥，C919空中飞行正常，飞行顺利，首飞任务圆满完成。</p>
            <p>首飞现场总指挥：现在，我宣布，C919大型客机首飞任务圆满成功！</p>
            <br>
            <b>C919大型客机总设计师吴光辉</b>
            <p>
              C919大型客机是继“运10”后我国第一款真正意义上的民航大飞机，而一项伟大的事业往往需要一代人甚至是几代人的努力。从1970年我国自主研制的“运10”飞机立项，到C919成功首飞，国人期盼了半个世纪的“大飞机梦”终于梦想成真。同时，这也意味着中国跻身美国、英国等少数能够自主制造大型客机的国家行列中，中国民航的新时代正式开启。
            </p>

          </el-tab-pane>

          <el-tab-pane name="发展规划" class="pane">
            <h1 class="center">C919未来五年年产能明确 大飞机产业链上市公司积极响应</h1>
            <div class="center">
              <video src="./video/WeChat_20230502171020.mp4" controls></video>
            </div>
            <p>1月13日，部分大飞机概念股表现活跃。当日，通达股份涨停；光韵达涨逾4%；中国东航、航天动力、再升科技涨逾3%。</p>
            <p>
              此前一日，中国商用飞机有限责任公司党委常委、副总经理张玉金透露，C919大飞机必将提速扩产，抢占市场份额，国产大飞机事业将从全面研制转入产业化阶段。张玉金介绍，C919规划未来五年，年产能计划到达150架，现在已经有1200多架的订单，产能进入成熟期，必然会有质的升级。
            </p>
            <p>业界认为，中国商飞方面在此时宣布C919大飞机必将提速扩产，或许也意味着市场需求以及航空公司需求提升。面向C919大飞机提速扩产的需求，大飞机产业链上的各个上市公司亦积极进行响应。</p>
            <p>据中航沈飞方面相关负责人告诉《证券日报》记者，公司C919业务情况要看后续进展再安排。随着业务订单扩大，应该会相应提高产能。</p>
            <p>“目前我们也计划扩大产能”。华力创通全资子公司华力智飞总经理陈亮告诉《证券日报》记者，具体的计划还在制定过程中。</p>
            <p>洪都航空方面表示，公司参与投资的洪都商飞参与C919项目，预计随着C919业务进展，洪都商飞应该会提升大飞机国产化率，同时听闻CR929项目还在研制阶段，洪都商飞亦作为供应商参与。</p>
            <p>中航光电表示，会根据客户需求做好订单；公司近年来产能规划都很匹配订单需求，对国产化率的提升也一直都有要求，亦有参与CR929项目。</p>
            <p>
              另据工信部微信公众号消息，1月11日，全国工业和信息化工作会议在北京召开。会议提出，2022年C919大型客机实现全球首架交付。2023年要加快推进重大技术装备攻关，加快大飞机产业化发展，推动工业母机高质量发展。
            </p>
            <p>
              “目前来看，无论是波音还是空客，每年交付飞机数量都在三位数。”中关村e谷CFO赵欣告诉《证券日报》记者，长期来看，C919有望获取窄体客机赛道中的1/3市场份额，预计将与其他两家飞机制造商构成“三足鼎立”的态势。
            </p>
            <p>根据中国商用飞机有限责任公司（中国商飞）发布的《2021-2040年商用航空发动机市场预测》数据，预计未来二十年,中国航空市场将接收50座级以上客机9084架,市场规模约1.4万亿美元。</p>
            <p>
              赵欣表示，未来随着国产大飞机国产化率的提升，国产大飞机产业链以及围绕着国产大飞机衍生的配套服务体系有望释放出更大的市场空间。当下的大飞机概念股还有业绩进一步释放的可能，未来在大飞机配套服务体系中也会涌现出更多的上市公司。
            </p>
            <br>
            <h1 class="center">新思想引领新征程丨C919：让中国的大飞机翱翔蓝天</h1>
            <b>习近平总书记指出：“我们要做一个强国，就一定要把装备制造业搞上去，把大飞机搞上去，起带动作用、标志性作用。”</b>
            <p>
              在过去的2022年，国产大飞机C919取得举世瞩目的成就，获颁型号合格证，交付全球首家用户，开启验证飞行，踏上了市场化、产业化发展的新征程。这几天，在全国的多个机场，都出现了国产大飞机C919的身影，它正在进行100小时验证飞行，为后续商业运营奠定坚实基础。与此同时，C919后续的总装制造工作也在同步进行。在位于上海的中国商飞总装制造中心，车间里的工人们正在最新一架C919飞机前忙碌着。中国商飞公司副总经理
              魏应彪：在确保飞机生产质量品质可靠性的前提下，我们来稳步提升它的产能，来安排后续的这种生产，相关的工作都已经启动了。让中国大飞机翱翔蓝天，承载着国家意志、民族梦想、人民期盼。习近平总书记高度关注我国大飞机事业的发展，多次作出重要指示批示。2022年9月30日，习近平总书记在北京人民大会堂会见C919大型客机项目团队代表并参观项目成果展览，充分肯定C919大型客机研制任务取得的阶段性成就。勉励大家要聚焦关键核心技术，继续合力攻关。要把安全可靠性放在第一位，消除一切安全隐患。大飞机事业一定要办好！中国工程院院士
              C919大型客机系列型总设计师 吴光辉：总书记给我们指明了方向，我们要发展自己的装备制造业，蓝天上要有我们中国人自己的飞机，对我们的鼓舞很大。</p>
            <div class="center"><img src="./images/31.jpg"></div>
            <b>总书记的殷殷嘱托成为大飞机事业发展的动力之源。</b>
            <p>全国二十多个省市、1000多家企事业单位、30多万人参与了大飞机研制，推动大飞机事业实现一个又一个历史性突破。中国工程院院士 国家大飞机重大专项专家咨询委员会主任
              张彦仲：C919飞机是我们国家按照国际上通用的适航标准，走完了大飞机研制的全过程，它不仅仅是一款飞机，它带动了整个国家科学技术发展，也形成了一个很大的产业链、供应链。从立项、下线到首飞、取证、交付，中国的大飞机梦正一步步坚定地走向现实，大飞机的研制成功是我国深入实施创新驱动发展战略取得的重大成果，是建设制造强国的重要标志。
            </p>
            <p>工业和信息化部装备工业二司司长 徐春荣：我们将贯彻落实党的二十大精神，加快实施重大技术装备攻关工程，提升大飞机的产业链、供应链的水平，在重大关键技术上和重大装备研制上来取得更大的突破。</p>
            <div class="center"><img src="./images/32.jpg"></div>
            <b>“C919”，飞出创新发展新高度</b>
            <p>
              我国大飞机事业迎来重要里程碑，中国人在追逐大飞机梦的道路上取得历史性成就。9月29日，C919大型客机取得中国民用航空局颁发的型号合格证，标志着我国拥有了一款可以投入航线运营的单通道干线客机，也表明我国具备了按照国际通行适航标准研制大型客机的能力。
            </p>
            <div class="center"><img src="./images/33.jpg"></div>
            <p>
              “要有雄心壮志，世界科技巅峰我们都要奋勇攀登。”9月30日上午，习近平总书记在北京人民大会堂会见C919大型客机项目团队代表并参观项目成果展览，充分肯定C919大型客机研制任务取得的阶段性成就，强调“要充分发挥新型举国体制优势，坚持安全第一、质量第一，一以贯之、善始善终、久久为功，在关键核心技术攻关上取得更大突破，加快规模化和系列化发展，扎实推进制造强国建设，为全面建设社会主义现代化国家、实现中华民族伟大复兴的中国梦不懈奋斗”。
            </p>
            <div class="center"><img src="./images/34.jpg"></div>
            <p>
              在15年的奋斗历程中，大飞机人发扬长期奋斗、长期攻关、长期吃苦、长期奉献的优良作风，凝聚攻坚克难、锲而不舍、协同创新、追求卓越的精神力量，践行使命担当，勇攀科技高峰，以实际行动落实创新驱动发展战略。C919取得的这一历史性成就，对增强我国经济实力、科技实力、民族凝聚力、国际影响力具有十分重要的意义。
            </p>
            <div class="center"><img src="./images/35.jpg"></div>
            <p>
              翱翔蓝天的C919，满载着中国创新的力量。C919研制和取证是一项复杂的系统工程。从立项到取得型号合格证，我国首次走完了按照国际通行适航标准研制大型客机的全过程，具备了大型客机设计、制造、试验、试飞及适航取证等能力。在10多年的研制中，C919先后攻克了一批关键技术、形成了一批核心能力、锤炼了一批人才队伍、带动了一批产业发展。
            </p>
            <div class="center"><img src="./images/36.jpg"></div>
            <p>
              大型客机的研制能力，是一个国家装备制造业整体实力的重要标志。C919的起飞不仅是一个飞机型号的起飞，更是我国民机事业的起飞。在全球合作程度极高的民机行业，C919坚持自主创新、开放合作，形成了支撑我国大飞机自主发展的能力平台，新材料、现代制造等领域关键技术、基础学科从中受益，一批充满活力的创新型企业茁壮成长。C919取得型号合格证，意味着在全球航空运输市场需求最强劲的窄体客机领域，中国终于拥有了一款自己的产品，这是我国民用航空市场供给侧结构性改革的一大成果，在解决我国民用航空市场供需不平衡问题上迈出了关键一步。
            </p>
            <div class="center"><img src="./images/37.jpg"></div>
            <p>
              抓创新就是抓发展，谋创新就是谋未来。C919获得型号合格证，意味着中国人坐上自己大飞机的梦想即将成为现实。C919项目研制成功，也将为全球旅客的美好出行提供更多选择，为全球供应商和合作伙伴带来更多机遇，进一步激发全球商用飞机产业的良性竞争和创新活力。这也生动映照着，新时代这十年，创新发展理念深入人心，创新发展步伐不断加快，科技自立自强交出精彩答卷，创新驱动发展战略在神州大地落地生根、硕果累累，科技创新推动中国号巨轮乘风破浪、行稳致远。如大潮奔涌，如细雨润泽，今天，创新要素正在中国每一寸土地上汩汩流淌。
            </p>
            <p>雄关漫道真如铁，而今迈步从头越。站在新的起点上，中国大飞机事业系列化、规模化、产业化发展的任务依然艰巨。踔厉奋发、勇毅笃行，秉持自主创新、开放合作，坚持质量第一、安全第一，我们必将迎来中国大飞机更加美好的明天。
            </p>
          </el-tab-pane>

          <el-tab-pane name="最新进展" class="pane">
            <div class="center"><img src="./images/bar1.png"></div>
            <p>
              2023年4月27日，海航航空集团与中国商飞公司在上海签署百架飞机采购协议，其中包括60架C919飞机确认订单和40架ARJ21飞机意向订单。这是双方深入贯彻落实习近平总书记关于大飞机事业重要指示精神，坚决贯彻落实中央决策部署，加快构建以国内大循环为主体、国内国际双循环相互促进的新发展格局的重要举措。双方将以此为契机，进一步深化合作，加强民航运输业与商用飞机制造业的深度融合，助力民航强国和制造强国建设。
            </p>
            <p>
              中国商飞公司党委书记、董事长贺东风，党委副书记、总经理周新民，党委常委、副总经理吴永良、魏应彪，辽宁方大集团董事局主席方威、董事兼党委书记宋宏谋，海航航空集团董事长徐军、党委书记兼副总裁牟伟刚、副董事长谢皓明，以及来自海南航空、金鹏航空、乌鲁木齐航空、海航技术的有关领导参加活动。
            </p>
            <div class="center"><img src="./images/41.jpg"></div>
            <p>
              宋宏谋表示，通过此次采购，海航航空集团机队结构将进一步优化，航空运输能力和市场竞争力将得到有力提升，并将通过自身运营多种先进机型的丰富经验，为旅客提供国产大飞机安全舒适便捷的“全新体验”，与中国商飞公司一道助力国产大飞机产业发展。
            </p>
            <p>
              周新民表示，感谢方大集团、海航航空集团一直以来对中国商飞公司的信任和支持。作为知名航空集团，海航航空一直致力于打造安全第一、服务第一、利润第一的世界级航空公司，充分展现了有担当、有作为的企业形象。中国商飞公司将始终以客户为中心，满足客户需求，为客户创造价值，愿与辽宁方大集团、海航航空一道，秉持精诚合作、互惠共赢的理念，共同开启国产飞机翱翔新篇章。
            </p>
            <p>未来，双方还将在飞机进出口、航材维修、物流仓储、新技术应用、航材支援、维修保障、飞机构型优化等领域开展合作，携手构筑大飞机事业“梦想共同体”，为全面推进社会主义现代化强国建设贡献力量。</p>
            <div class="center">
              <video src="./video/WeChat_20230502173432.mp4" controls></video>
            </div>
          </el-tab-pane>

          <el-tab-pane name="发展历程" class="pane">
            <div class="center"><img src="./images/bar3.png"></div>
            <p>C919飞机，全称COMA
              C919，是中国按照国际民航规章自行研制、具有自主知识产权的大型喷气式民用飞机，座级158-168座，航程4075-5555公里。已经完成立项论证、可行性论证、预发展阶段工作，转入工程发展阶段。
            </p>

            <div class="block">
              <el-timeline>
                <el-timeline-item v-for="(item,index) in timeline" :key="index" :timestamp=item.time placement="top">
                  <el-card>
                    <h4>{{ item.title }}</h4>
                  </el-card>
                </el-timeline-item>
              </el-timeline>
            </div>
          </el-tab-pane>

        </el-tabs>

      </el-main>

      <el-footer height="100px">
        <el-row style="text-align: center;line-height: 30px;padding-top: 23px;">
          <p>版权所有 © 2023 某某航空资讯 ALL RIGHTS RESERVED. XICP备10000XXX号</p>
          <p>Powered By PageAdmin Cms</p>
        </el-row>
      </el-footer>

    </el-container>
  </div>
</body>
<!-- import Vue before Element -->
<script src="./js/vue.js"></script>
<!-- import JavaScript -->
<script src="./js/element-ui.js"></script>
<script>
  new Vue({
    el: '#app',
    data: () => {
      return {
        activeIndex: '首页',
        labelName: '首页',
        carouselImage: [
          './images/bar1.png',
          './images/bar2.png',
          './images/bar3.png'
        ],
        cardContext: [
          {
            'title': '中国自研的客机',
            'char': '✈️C✈️',
            'image': './images/aircraft.png',
            'desc': 'C919飞机是中国商用飞机有限责任公司自主研制的一款窄体干线客机，是中国首款按照国际通行适航标准设计和制造的大型喷气式民用飞机'
          }, {
            'title': '座级、航程和性能',
            'char': '🎉9🎉',
            'image': './images/cloud.png',
            'desc': 'C919飞机的座级为158-192座，航程为4075-5555公里，性能与国际新一代的主流单通道客机相当'
          }, {
            'title': '国际竞争的利器',
            'char': '✈️1✈️',
            'image': './images/plasma.png',
            'desc': 'C919飞机的目标是满足中国和世界民航市场对中短程航线的需求，提高中国民航业的自主创新能力和国际竞争力，打破欧美两大飞机制造商的垄断地位'
          }, {
            'title': '从首飞到交付的历程',
            'char': '🎉9🎉',
            'image': './images/satellite.png',
            'desc': 'C919飞机于2017年5月5日成功首飞，2022年9月29日获得中国民航局的型号合格证，预计2023年开始交付使用'
          }
        ],
        timeline: [
          {
            'time': "2015/11/02",
            'title': "完成总装下线"
          },
          {
            'time': "2017/05/05",
            'title': "成功首飞"
          },
          {
            'time': "2022/05/14",
            'title': "六架国产大型客机C919试飞机圆满完成全部试飞任务"
          },
          {
            'time': "2022/07/25",
            'title': "中国商飞公司即将交付首家用户的首架C919大飞机首次飞行试验圆满完成"
          },
          {
            'time': "2022/08/01",
            'title': "中国商飞宣布，国产大飞机C919完成取证试飞"
          },
          {
            'time': "2022/09/07",
            'title': "国产大飞机C919首次试飞合肥新桥机场"
          },
          {
            'time': "2022/09/13",
            'title': "C919国产大飞机首次飞抵北京首都国际机场"
          },
          {
            'time': "2022/09/29",
            'title': "C919飞机获颁型号合格证"
          },
          {
            'time': "2022/10/15",
            'title': "市场监管总局正式批准依托中国商用飞机有限责任公司成立国家商用飞机产业计量测试中心"
          },
          {
            'time': "2022/12/09",
            'title': "编号为B-919A的C919全球首架机正式交付中国东方航空"
          },
          {
            'time': "2022/12/14",
            'title': "紫光国微表示，为国产C919飞机提供网络通信类的机载总线交换芯片"
          },
          {
            'time': "2022/12/26",
            'title': "全球首架C919国产大飞机开启100小时验证飞行之旅"
          },
          {
            'time': "2023/01/01",
            'title': "中国东方航空全球首架C919大型客机测试飞行"
          },
          {
            'time': "2023/02",
            'title': "C919圆满完成100小时验证飞行"
          }
        ]
      }
    },
    methods: {
      handleSelect(key, keyPath) {
        this.labelName = key;
      }
    },
  })
</script>

</html>