@charset "utf-8";

/* CSS Document */

* {
    border: 0;
    /*边框*/
    margin: 0;
    /*外边距*/
    padding: 0;
    /*内边距*/
}

.el-header {
    line-height: 145px;
    /*背景颜色自上而下渐变蓝天白云色*/
    background-image: linear-gradient(to bottom, #5774A0, #9FBFD8);
}

.el-main {
    padding: 0;
    text-align: center;
    background-color: #E8E8E8;
}

.el-main::-webkit-scrollbar {
    display: none
}

.card {
    height: 350px;
    width: 280px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
    margin-top: 30px;
}

/*Image*/
.card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* background: #001453; */
    background: linear-gradient(to top, #001453, #4286f4);
    line-height: 300px;
    font-size: 70px;
    color: #f5f5f5;
}

/*Description */
.card-description {
    display: flex;
    position: absolute;
    gap: .5em;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #212121;
    height: 70%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
}

/*Text*/
.text-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.text-body {
    font-size: 1rem;
    line-height: 130%;
}


/* Hover states */
.card:hover .card-description {
    transform: translateY(100%);
}

.el-tab-pane {
    padding-top: 30px;
}

.pane {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    line-height: 3;
}

.pane p {
    text-indent: 2em;
}

.center {
    width: 640px;
    margin: 0 auto;
}

.center img,
.center video {
    width: 640px;
}

.el-footer {
    background: url("../images/footer.jpg") no-repeat center top;
    background-size: 100% 100%;
    color: #fff;

}